:root {
  --dark: #00092c;
  --grey: #6b7280;
  --purple: #5900ff;
  --blue: #2d46b9;
  --light: #eee;
  --red: #b20600;
  --redDark: #630606;
  --green: #6bcb77;
  --greenDark: #019267;
  --blueDark: #051367;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #fff;
  background-color: var(--dark);
}

header {
  padding: 1.5rem 1rem;
  max-width: 678px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#emptyList {
  text-align: center;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--light);
}

input,
button {
  border: none;
  outline: none;
  background: none;
}
.chk {
  border-radius: 50px !important;
  transform: scale(1.3);
  margin-left: 2px;
  margin-right: 3px;
}
:checked {
  background-color: var(--green) !important;
  border: none;
}

input[type="checkbox"]:checked + span.lineThrough {
  text-decoration: line-through;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #34e89e 0%,
    #0f3443 51%,
    #34e89e 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 4px #eee;
  border-radius: 10px;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.btnAction {
  border-radius: 10px 20px;
}

#footer {
  background-color: var(--blue);
}

header .logo {
  width: 150px;
  margin: 0 auto;
  text-align: center;
}

.content {
  flex: 1 1 0%;
  background-color: var(--light);
  padding: 0.3rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--dark);
  font-size: 1.25rem;
}

#valueInputModal {
  width: 11.25rem;
  padding: 0.3rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--dark);
  font-size: 1.25rem;
}

.content button {
  margin-right: 0.5rem;
}

#newItemInput {
  border: none;
  outline: none;
  background: none;
}

#newItemInput::placeholder {
  color: var(--grey);
}

.colorEffect {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    276deg,
    rgb(131, 58, 180) 0%,
    rgba(253, 29, 29, 1) 89%,
    rgba(252, 176, 69, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#newItemSubmit {
  background-image: linear-gradient(to right, var(--purple), var(--blue));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

#newItemSubmit:hover {
  opacity: 0.8;
}

#newItemSubmit:active {
  opacity: 0.4;
}

#msgMain {
  font-size: 2rem;
}

main {
  flex: 1 1 0%;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.item-list {
  padding: 0.6rem;
}

#text {
  justify-content: left;
}

.checked {
  background-image: linear-gradient(
    to right,
    #314755 0%,
    #26a0da 51%,
    #314755 100%
  );
  color: var(--light);
}

ul {
  padding-left: 0;
}

li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--dark);
  color: var(--light);
  left: 0;
  padding: 0.3rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.text {
  flex-grow: 1;
  position: relative;
  left: 5px;
}

.action {
  opacity: 0.3;
  background-image: linear-gradient(to right, var(--red), var(--redDark));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.action:hover {
  opacity: 1;
  background-image: linear-gradient(to right, var(--red), var(--redDark));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.modal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  font-size: 1.125rem;
  background-color: var(--dark);
  margin: 15% auto;
  padding: 30px;
  border-radius: 20px;
  width: 350px;
}

.emptyValue {
  color: red;
}

#valueBtnModal {
  position: relative;
  top: -10px;
  left: center;
}

/*Texto do Rodapé*/
.textFooter {
  color: var(--light);
  font-size: 1.4rem;
  text-align: center;
  margin-top: 0px;
  padding-top: 4px;
}

.textFooter + #valueTotal {
  color: var(--light);
  margin-left: 5px;
  margin-top: 0px;
  font-size: 22px;
  text-align: center;
}

/*Responsividade */
@media (max-width: 600px) {
  header {
    display: flex;
    background-color: #00092c;
    border-bottom: 1px solid var(--light);
  }

  #newItemInput::placeholder {
    font-size: 0.7rem;
  }

  .logo {
    width: 120px;
  }

  h2 {
    font-size: 0.5rem;
  }
  #msgMain {
    font-size: 1.5rem;
  }
}
