:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --grey: #6b7280;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --light: #eee;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #fff;
  background-color: var(--darker);
}

header {
  padding: 2rem 1rem;
  max-width: 678px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.emptyList {
  text-align: center;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--light);
  margin-bottom: 1rem;
}

input,
button {
  border: none;
  outline: none;
  background: none;
}

.content {
  flex: 1 1 0%;
  background-color: var(--light);
  padding: 0, 6rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--dark);
  font-size: 1.25rem;
}

.content button {
  margin-right: 0.5rem;
}

#newItemInput {
  border: none;
  outline: none;
  background: none;
}

#newItemInput::placeholder {
  color: var(--grey);
}

#newItemSubmit {
  color: var(--pink);
  font-size: 1.25rem;
  font-weight: 700;
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  background-clip:text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}

#newItemSubmit:hover {
  opacity: 0.8;
}

#newItemSubmit:active {
  opacity: 0.6;
}

main {
  flex: 1 1 0%;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.item-list {
  padding: 0.6rem;
  
}

#text {
  justify-content:left
}

.checked {
  background-color: var(--purple);
  color: var(--light);
}

ul{
  padding-left: 0;
}

li {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  background-color: var(--dark);
  
  color: var(--darkest);
  left: 0;
  padding: 0.3rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.text{
  flex-grow: 1;
  position: relative;
  left: 5px;
}

.action{
  color: var(--pink);
  font-size: 1.25rem;
  font-weight: 700;
  background-image: linear-gradient(to right, red, var(--purple));
  background-clip:text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 500px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* 
.actions {
  display: flex;
  margin: 0 -0.5rem;
}

.item .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}

.item .actions button:hover {
  opacity: 0.8;
}

.item .actions button:active {
  opacity: 0.6;
}

.item .actions .edit {
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item .actions .delete {
  color: crimson;
}

input[type="checkbox"]:checked ~ .lineThrough {
  color: #ccc;
  text-decoration: line-through;
}

.add-control {
  position: relative;
}
.add-control .form-control {
  padding-right: 25px;
}
.add-control .refresh {
  position: absolute;
  top: 8px;
  right: 0;
  font-size: 14px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  margin-right: -10px;
  cursor: pointer;
  color: #9da1af;
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
}
.add-control .refresh:hover {
  color: #666;
}
.form-control,
.form-control:focus,
.form-control:active,
.form-control:active:focus {
  border: none;
  padding: 10px 15px;
  outline: none;
}
.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.form-control:focus {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
} */
